/viikko4/TyhjaProjekti/.nb-gradle/
/viikko4/TyhjaProjekti/build/
/viikko5/viikko5/MockitoDemo/.nb-gradle/
/viikko5/viikko5/MockitoDemo/build/
/viikko5/viikko5/MatkakorttiMockito/.nb-gradle/
/viikko5/viikko5/MatkakorttiMockito/build/
/viikko5/viikko5/VerkkokauppaSpring/.nb-gradle/
/viikko5/viikko5/VerkkokauppaSpring/build/
/viikko5/viikko5/IntJoukkoSovellus/.nb-gradle/
/viikko5/viikko5/IntJoukkoSovellus/build/
/viikko5/viikko5/Tennis/.nb-gradle/
/viikko5/viikko5/Tennis/build/
/viikko7/KiviPaperiSakset/.nb-gradle/
/viikko7/KiviPaperiSakset/build/